<%- toasts %>
<section class="wrapper">
    <div class="template-detail relative">
        <div class="image-template">
            <img src="<%= detail.image %>" alt="" title="">
        </div>
        <a href="/detail/<%= cate_id %>/<%= pre ? pre : detail._id %>" class="prev" title="Giao diện trước"></a>
        <a href="/detail/<%= cate_id %>/<%= next ? next : detail._id %>" class="next" title="Giao diện sau"></a>

    </div>
    <div class="template-nav">
        <div class="fixed-menu">
            <a href="/project/<%= cate_id %>" title="">Tất cả</a>
            <% for(var i = 0; i < products.length; i++) { %>
                <a href="/detail/<%= cate_id %>/<%= products[i]._id %>" title="<%= products[i].name %>"><%= products[i].name %></a>
            <% } %>
        </div>
    </div>
</section>
<section class="customer-comment">
    <div class="comment">
        <a href="javascript:;" title="" class="toggle-comment"><i class="fa fa-caret-left"></i> </a>
        <div class="comment-form">
            <form method="POST" action="/post-comment">
                <input type="hidden" name="product_id" value="<%= detail._id %>">
                <textarea placeholder="Nội dung phản hồi" name="content" cols="30" rows="5"><%= comment ? comment.content : '' %>
                </textarea>
                <button type="submit"><%= comment ? 'Cập nhật' : 'Gửi phản hồi' %></button>
            </form>
        </div>
    </div>
</section>
<a href="" class="commentnow flex-center-center" title="Gửi phản hồi">
    <span class="flex-center-center">
        <i class="animated2 inflex-center-center" ><img src="/front/images/icon/i-comment.png" alt="" title="" class=""></i>
    </span>
</a>